@import "../../helper/variables";

.btn {
  font-family: Raleway;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0;
  position: relative;
}

.btn-cart-bag {
  background-color: $white;
  color: $black;

  &:hover {
    background-color: invert($white);
    color: invert($black);
  }
}

.btn-cart-checkout {
  background-color: $primary-button-green;
  color: $white;
  border: none;
}

.btn-item-action {
  background-color: $white;
  color: $black;
  border: 1px solid $black;
  font-weight: 400;
  line-height: 160%;

  &:hover {
    background-color: invert($white);
    color: invert($black);
  }
}

.btn-add-to-cart {
  background-color: $primary-button-green;
  color: $white;
  border: none;
  &:hover {
    background-color: $hover-button-green-hover;
  }
}

.btn-add-to-cart-disabled {
  background-color: $secondary-button-disabled;
  color: $white;
  border: none;
  cursor: not-allowed;
}

.btn-small {
  width: 24px;
  height: 24px;
}

.btn-medium {
  width: 45px;
  height: 45px;
}

.btn-large {
  font-weight: 600;
  width: 140px;
  height: 43px;
}

.btn-huge {
  font-weight: 600;
  width: 292px;
  height: 52px;
}
