@import "../../helper/variables";
.card {
  max-height: 300px;
  max-width: 265px;
  padding: 16px;
  position: relative;
  cursor: pointer;

  &-image {
    width: 250px;
    height: 250px;
    background-size: cover;
  }

  &-text {
    font-weight: 300;
    size: 18px;
    line-height: 28.8px;

    &-name {
      margin: 0;
      font-weight: 300;
    }

    &-price {
      font-weight: 500;
    }
  }
  &-buy-icon {
    width: 52px;
    height: 52px;
    position: absolute;
    right: 17px;
    bottom: 44px;
    display: none;
    cursor: pointer;
  }

  &:hover {
    box-shadow: $secondary-card-shadow 0px 7px 29px 0px;

    .card-buy-icon {
      display: block;
    }
  }
}
