@import "../../helper/variables";
.cartpage-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

.cartpage-headline {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: $primary-text-color;
  margin-bottom: 75px;
  margin-top: 0;
  padding-top: 70px;
}

.cartpage-cart-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 250px;
  max-width: 1100px;
  margin-bottom: 41px;
  flex-basis: 0;
  border-top: 1px solid $secondary-cartpage-border;
  padding: 20px 0;

  p {
    margin: 0 0 10px 0;
  }

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 0px;

    &-brand {
      font-weight: 600;
      font-size: 30px;
      line-height: 27px;
      margin-bottom: 3px;
      color: $primary-text-color;
      margin-bottom: 10px;
    }

    &-name {
      font-weight: 400;
      font-size: 30px;
      line-height: 27px;
      color: $primary-text-color;
    }

    &-price {
      font-weight: bold;
      font-size: 24px;
      line-height: 18px;
      display: flex;
      align-items: center;
      color: $primary-text-color
    }

    &-attr {
      font-size: 14px;
      line-height: 160%;
      color: $secondary-gray;
    }
  }
}

.cartpage-quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1;
  align-items: flex-end;
  margin-right: 10px;

  &-btn {
    font-size: 45px;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  p {
    font-size: 24px;
    line-height: 160%;
    margin-right: 17px;
  }
}

.cartpage-img-container {
  display: flex;
  max-width: 150px;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .cartpage-img {
    max-width: 100%;
    height: auto;
  }

  .cartpage-img-remove-item {
    position: absolute;
    z-index: 100;
    right: 0px;
    top: 3px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}

.cart-form {
  input[type="radio"] {
    display: none;
  }

  &-btn {
    display: flex;
    margin-bottom: 2px;
    gap: 2px 2px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  input[type="radio"]:checked + .cartpage-radio-label-text {
    background-color: $primary-text-color;
    border: 1px solid $primary-text-color;
    color: $white;
  }

  input[type="radio"]:checked + .cartpage-radio-label-swatch {
    border-width: 1px;
    border-radius: 25%;
    outline: auto;
    outline-color: $secondary-selected-color;
    transition: 0.3s;
  }
}

.cartpage-radio-label {
  font-size: 16px;
  width: 55px;
  height: 37px;
  color: $secondary-gray;
  border: 1px solid $primary-text-color;
  font-weight: 400;
  font-family: Raleway;
  cursor: pointer;
  text-transform: uppercase;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartpage-radio-label-text {
  background-color: $white;
  color: $primary-text-color;
}

.cartpage-total-wrapper {
  margin-top: 35px;
  border-top: 5px solid;
  padding-top: 20px;
  text-align: right;
}

.cartpage-total-text {
  font-size: 26px;
  margin: 0 0 5px 0;
  font-weight: 600;
}

.cartpage-total-amount {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}
