.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-categories {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-category {
      padding: 10px 15px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      text-transform: uppercase;

      &:hover {
        color: #5ECE7B;
        text-decoration: underline;
        text-underline-offset: 30px;
        text-decoration-thickness: 2px;
      }
    }

  }

  &-currencytcart {
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-evenly;
    
  }
}

.active {
  color: #5ECE7B;
  text-decoration: underline;
  text-underline-offset: 30px;
  text-decoration-thickness: 2px;
}
