.currency {
  cursor: pointer;

 &-icon {
  font-weight: 500;
  font-size: 18px;
  color: #1D1F22;
 }
}

.currency-icon-dropdown {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-left: 10px;
  position: relative;
}