@import "../../helper/variables";
.currency {
  cursor: default;
  &-icon {
    font-weight: 500;
    font-size: 18px;
    color: $primary-text-color;
  }
}

.currency-icon-dropdown {
  border: solid $black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  transform: rotate(225deg);

  &-arrow-true {
    transform: rotate(45deg);
  }
}
