@import "../../helper/variables";
.homepage-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px 0px; 
  grid-auto-flow: row;
  justify-items: center;
}

.homepage-category-text {
  color: $primary-text-color;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  padding-left: 10px;
  height: 90px;
}
