.cart-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 137px;
  margin-bottom: 41px;
  flex-basis: 0;
}

.nameprice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 0px;

  &-attr {
    font-size: 14px;
    line-height: 160%;
    color: #A6A6A6
  }

  p {
    margin: 0;
  }

  &-btn {
    display: flex;
    margin-bottom: 2px;
    gap: 2px 2px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 0px;

  &-btn {
    font-size: 25px;
    font-weight: 300;
  }
}

.img {
  display: flex;
  width: 105px;
  align-items: center;
  justify-content: center;
  flex: 1 1 0px;

  img {
    height: 100%;
    width: 100%;
  }
}

.form input[type="radio"]{
  display: none;
}

.form input[type="radio"]:checked + .radio-label{
  background-color: white;
  color: #1D1F22;
}

.radio-label {
  font-size: 0.6rem;;
  width: 16px;
  height: 16px;
  background-color: rgba(166, 166, 166, 0.2);
  color: #A6A6A6;
  border: 1px solid #1d1f22;
  font-weight: 400;
  font-family: Raleway;
  cursor: pointer;
  text-transform: uppercase;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

