@import "../../helper/variables";
.cart-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 150px;
  margin-bottom: 41px;
  flex-basis: 0;
}

.nameprice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 0px;

  &-attr {
    font-size: 14px;
    line-height: 160%;
    color: $secondary-gray;
  }

  p {
    margin: 0;
  }

  &-btn {
    display: flex;
    gap: 2px 2px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 0px;

  &-btn {
    font-size: 25px;
    font-weight: 300;
  }
}

.img-container {
  display: flex;
  width: 105px;
  align-items: center;
  justify-content: center;
  flex: 1 1 0px;
  position: relative;
}

.img {
  height: auto;
  width: 100%;
}

.img-remove-item {
  position: absolute;
  z-index: 100;
  right: -4px;
  top: -10px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.form input[type="radio"] {
  display: none;
}

.form input[type="radio"]:checked + .radio-label-text {
  background-color: $white;
  color: $primary-text-color
}

.form input[type="radio"]:checked + .radio-label-swatch {
  border-width: 1px;
  border-radius: 25%;
  outline: auto;
  outline-color: $secondary-selected-color;
  transition: 0.3s;
}

.radio-label {
  font-size: 0.5rem;
  width: 16px;
  height: 16px;
  color: $secondary-gray;
  border: 1px solid $primary-text-color;
  font-weight: 400;
  font-family: Raleway;
  cursor: pointer;
  text-transform: uppercase;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-label-text {
  background-color: $secondary-radio-background;
  color: $secondary-gray;
}
